In [1]:
import os
import pandas as pd

N = 0  # total files
list_name = []
list_number = []
for dirpath, dirnames, filenames in os.walk(r"C:\Users\feder\Desktop\AwA2-data\Animals_with_Attributes2\JPEGImages"):
    N_c = len(filenames)
    N += N_c
    print(dirpath.split("JPEGImages",1)[1][1:] , N_c)
    list_name.append(dirpath.split("JPEGImages",1)[1][1:])
    list_number.append(N_c)
print ("Total Files ",N)

 0
antelope 1046
bat 383
beaver 193
blue+whale 174
bobcat 630
buffalo 895
chihuahua 567
chimpanzee 728
collie 1028
cow 1338
dalmatian 549
deer 1344
dolphin 946
elephant 1038
fox 664
german+shepherd 1033
giant+panda 874
giraffe 1202
gorilla 872
grizzly+bear 852
hamster 779
hippopotamus 684
horse 1645
humpback+whale 709
killer+whale 291
leopard 720
lion 1019
mole 100
moose 704
mouse 185
otter 758
ox 728
persian+cat 747
pig 713
polar+bear 868
rabbit 1088
raccoon 512
rat 310
rhinoceros 696
seal 988
sheep 1420
siamese+cat 500
skunk 188
spider+monkey 291
squirrel 1200
tiger 877
walrus 215
weasel 272
wolf 589
zebra 1170
Total Files  37322

In [2]:
dfAWA = pd.DataFrame()
dfAWA["name"] = list_name
dfAWA["count"] = list_number

In [3]:
dfAWA = dfAWA.sort_values("count", ascending=False).reset_index(drop=True)

In [4]:
top10 = dfAWA.head(10)
top10

       name  count
0     horse   1645
1     sheep   1420
2      deer   1344
3       cow   1338
4   giraffe   1202
5  squirrel   1200
6     zebra   1170
7    rabbit   1088
8  antelope   1046
9  elephant   1038

In [ ]:
gpif = pd.read_csv(r"C:\Users\feder\Desktop\Taxon.tsv", sep="\t")

In [ ]:
gpif = gpif[["taxonID", "canonicalName", "genericName"]]

In [ ]:
vern_names= pd.read_csv(r"C:\Users\feder\Desktop\VernacularName.tsv", sep="\t")

In [ ]:
df_final = vern_names.merge(gpif, how="inner", left_on="taxonID", right_on="taxonID")
df_final=df_final[df_final["language"] =="en"]

In [ ]:
df_final=df_final.drop(['language', 'country', "countryCode", "sex", "lifeStage", "source"], axis=1)

In [ ]:
to_choose = df_final.merge(dfAWA, how="inner", left_on="vernacularName", right_on="name")

In [ ]:
to_choose = to_choose.sort_values("count", ascending=False).reset_index(drop=True)

In [ ]:
to_choose = to_choose.drop_duplicates(subset=["vernacularName"]).reset_index(drop=True)

In [ ]:
to_choose.head(10)

In [ ]:
to_choose.to_csv("species_to_choose.csv")